<!DOCTYPE html>

<head>
<meta charset="utf-8">
<title>Podspec Format</title>

<link type="text/css" rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css">
<link type="text/css" rel="stylesheet" href="style.css">

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>

</head>

<!-- BODY ******************************************************************-->

<body>

  <div class="content-outer-container sections">
    <div class="container">
      <ul>
        <% sections.each do |section| %>
          <% if section == name %>
            <li id="current_section">
            <h3><a href="#tab_<%= section.parameterize %>"><%= section %></a></h1>
            </li>
          <% else %>
            <li>
            <h3><a href="<%= section.underscore %>.html"><%= section %></a></h1>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>


  <!-- HEADER **************************************************************-->
  <div id="header-outer-container">
    <div class="container">
      <div id="header">
        <div class="row" id="methods_list">
          <% columns.each do |groups| %>
            <div class="span3">
            <% groups.each do |group| %>
              <h2><a class="select-tab" href="#tab_<%= group.to_param %>"><%= group.name %></a></h2>
              <% group.methods.each do |method| %>
                <p><a class="select-tab" href="#tab_<%= method.to_param %>"><%= method.name %><%= ' <span class="label label-small">R</span>' if method.required? %></a></p>
              <% end %>
            <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="content-outer-container">
    <div class="container">

      <!-- TABS *************************************************************-->

      <div class="tab-content">
        <div id="tab_<%= name.parameterize %>" class="tab-pane">
          <h2><%= name %></h2>
          <p><%= markdown description %></p>
        </div>

        <% groups.each do |group| %>
          <div id="tab_<%= group.to_param %>" class="tab-pane">
            <h2><%= group.name %></h2>
            <p><%= markdown group.description %></p>
          </div>

          <% group.methods.each do |method| %>
            <div id="tab_<%= method.to_param %>" class="tab-pane">
              <h2>
                <%= method.name %>
                <%= '<a class="select-tab" href="#tab_root-specification-group"><span class="label label-big">required</span></a>' if method.required? %>
                <%= '<a class="select-tab" href="#tab_multi-platform-support-group"><span class="label label-big">multi-platform</span></a>' if method.multi_platform? %>
              </h2>
              <p><%= markdown method.description %></p>

              <!-- Defaul values ******************************************* -->

              <% unless method.default_values.empty? %>
                <hr>
                <h3>Defaults to:</h3>
                <% method.default_values.each do |default_value| %>
                  <%= syntax_highlight default_value %>
                <% end %>
              <% end %>

              <!-- Examples *************************************************-->

              <% unless method.examples.empty? %>
                <hr>
                <h3>Examples:</h3>
                <% method.examples.each do |example| %>
                  <%= syntax_highlight example %>
                <% end %>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>

      <!-- FOOTER ************************************************************-->

      <div class="row">
        <div class="span12">
          <p class="note">Generated for CocoaPods Core v<%= Pod::CORE_VERSION %></p>
        </div>
      </div>

    </div>
  </div>

  <!-- SCRIPTS *************************************************************-->

  <script>
    function tabLinkByName(name) {
      return $('#methods_list a[href=#tab_' + name.replace('#', '') + ']');
    }

    function selectTabByName(name) {
      // de-select previous
      $('#methods_list .active').removeClass('active');
      // select new
      var tabLink = tabLinkByName(name);
      tabLink.parent().addClass('active')
      tabLink.tab('show');
      document.location.hash = name;
    }

    function selectTab(clickedLink) {
      selectTabByName(clickedLink.attr("href").replace('#tab_', ''));
    }

    $('a.select-tab').click(function (e) {
      e.preventDefault();
      selectTab($(this));
    })

    $('#current_section a:first').click(function (e) {
      e.preventDefault();
      $('#methods_list .active').removeClass('active');
      $(this).tab('show');
      document.location.hash = '';
    })

    // Shows the tab associated with the current fragment or the description of
    // the sections on page load.
    //
    $(function () {
      var tabLink = tabLinkByName(document.location.hash);
      if (tabLink.size() == 1) {
        selectTab(tabLink);
      } else {
        $('#current_section a:first').tab('show');
      }
    });
  </script>
</body>
