<!DOCTYPE html>

<head>
<meta charset="utf-8">
<title>Podspec Format</title>
<link type="text/css" rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- CSS *******************************************************************-->

<style type="text/css">

.note {
  margin-top:60px;
  font-size: 12px;
}

#methods_list p,
#methods_list a {
  line-height: 22px;
  font-size: 12px;
  margin: 0px;
  /* color: #888; */
  color: hsl(16, 10%, 50%);
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 2px;
}
#methods_list a span.required {
  font-size: 11px;
}
#methods_list .active {
  background-color: rgb(245, 218, 176);
  color: rgb(114, 61, 42);
}

#methods_list h2 {
  padding-bottom:0px;
  line-height: 20px;
  font-size: 14px;
}

.required {
  float: right;
  font-weight: bold;
  font-style: italic;
  color: hsl(16, 10%, 70%);
}

p.multi-platform {
  font-weight: bold;
}

a {
  color:#E6A33C;
}


h2, h3 {
  color:#E6A33C;
}

h2 {
  padding-bottom:20px
}


h3 {
  margin:20px 0;
  font-size: 14px
}

h4 {
  font-size:12px;
  color: #CCC;
  margin: -10px 0px 4px;
}



.modal-body > p {
  color: #555;
  font-size: 14px;
  margin-top:20px;
}

.modal {
  width:800px;
  margin-left:-470px;
}

.tab-content {
  min-height:400px;
}

#header-outer-container {
  margin: 0 auto;
  padding-top:40px;
  padding-bottom:40px;
  /* match cocoapods.org */
  width:1024px;
  background-color:rgb(253, 250, 242);
  border-bottom: 1px solid #F0E7DD;
}

#content-outer-container {
  margin: 0 auto;
  padding-top:40px;
  padding-bottom:40px;
  /* match cocoapods.org */
  width:1024px;
  background-color:rgb(255, 255, 255);
}

#header {

}

body {
  color: #888;
  background-color:rgb(64, 22, 0);
}

/* Syntax Highlighting */

pre {
  margin:20px 0;
  color: #AAA;
  background-color: #424242;
}

.n {
  color: #AAA;
}

.o {
  color: #AAA;
}

.s1, .s2, .ss, .sh,
.nf, .no
{
  color:#E6A33C;
}

.k {
  font-weight: bold;
  color: #CCC;
}

</style>
</head>

<!-- BODY ******************************************************************-->

<body>

  <!-- HEADER **************************************************************-->
  <div id="header-outer-container">
    <div class="container">
      <div id="header">
        <div class="row" id="methods_list">
          <% groups.each do |group| %>
            <div class="span3">
            <h2><a class="select-tab" href="#tab_<%= group.to_param %>"><%= group.name %></a></h2>
            <% group.methods.each do |method| %>
              <p><a class="select-tab" href="#tab_<%= method.to_param %>"><%= method.name %><%= ' <span class="required">(required)</span>' if method.required? %></a></p>
          <% end %>
          </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>

  <div id="content-outer-container">
    <div class="container">

      <!-- TABS **************************************************************-->

      <div class="tab-content">
        <% groups.each do |group| %>
          <div id="tab_<%= group.to_param %>" class="tab-pane">
            <h2><%= group.name %></h2>
            <p><%= markdown group.description %></p>
          </div>

          <% group.methods.each do |method| %>
            <div id="tab_<%= method.to_param %>" class="tab-pane">
              <h2><%= method.name %><%= ' <span class="required">Required</span>' if method.required? %></h2>
              <% if method.multi_platform? %>
                <p class="multi-platform">This attribute supports <a class="select-tab" href="#tab_multi-platform-support-group">multi-platform</a> values.</p>
              <% end %>
              <p><%= markdown method.description %></p>
              <!-- Defaul values -->
              <% if method.attribute && method.attribute.default_value %>
                <h3>Defaults to:</h3>
                <pre><%= method.attribute.default_value %></pre>
              <% end %>
              <!-- Examples -->
              <% unless method.examples.empty? %>
                <h3>Examples:</h3>
                <% method.examples.each do |example| %>
                  <%= syntax_highlight example %>
                <% end %>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>

      <!-- FOOTER ************************************************************-->

      <div class="row">
        <div class="span12">
          <p class="note">Generated for CocoaPods Core v<%= Pod::CORE_VERSION %></p>
        </div>
      </div>

    </div>
  </div>

  <!-- SCRIPTS *************************************************************-->

  <script>
    function tabLinkByName(name) {
      return $('#methods_list a[href=#tab_' + name.replace('#', '') + ']');
    }

    function selectTabByName(name) {
      // de-select previous
      $('#methods_list .active').removeClass('active');
      // select new
      var tabLink = tabLinkByName(name);
      tabLink.parent().addClass('active')
      tabLink.tab('show');
      document.location.hash = name;
    }

    function selectTab(clickedLink) {
      selectTabByName(clickedLink.attr("href").replace('#tab_', ''));
    }

    $('a.select-tab').click(function (e) {
      e.preventDefault();
      selectTab($(this));
    })

    $(function () {
      var tabLink = tabLinkByName(document.location.hash);
      if (tabLink.size() == 1) {
        selectTab(tabLink);
      } else {
        selectTab($('#methods_list a:first'));
      }
    });
  </script>
</body>
